.yt__allInterPace {
  width: 700px;
}

.yt__top {
  background: rgb(48, 48, 48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.yt__top_left {
  /* background-color: blue; */
  margin-left: 50px;
}

.yt__top_right {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.yt__top_right_lte {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  bottom: 2px;
}

.yt__mid {
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
}

.yt__mid_left {
  margin-left: 10px;
}

.yt__mid_right {
  margin-right: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}

.yt_icon {
  background: red;
  padding: 5px 10px;
  border-radius: 20%;
  width: 20px;
}

.yt_profile {
  font-size: large;
  padding: 10px 5px;
  border-radius: 50%;
  background-color: orangered;
  /* margin-left: -10px;
  margin-right: 10px; */
  margin: 5px 10px 5px -10px;
}

.yt__mid2 {
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  /* font-weight: bolder; */
  color: white;
  height: 75px;
}

.yt__mid2_left {
  background-color: rgb(110, 108, 108);
  padding: 3px 10px;
  border-radius: 10%;
  margin-left: 13px;
  width: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.yt__mid2_right {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 13px;
  width: 530px;
  padding-left: 18px;
  border-left: 1px solid rgb(110, 108, 108);
}

.yt__mid2_right span {
  background-color: rgb(110, 108, 108);
  padding: 10px 20px;
  border-radius: 30px 30px 30px;
}

.yt__mid2_right span:hover {
  background-color: white;
  color: black;
}

.yt__compass {
  padding-top: 5px;
  font-size: 27px;
}

.yt__bottom {
  background-color: rgb(48, 48, 48);
  color: white;
  border-top: 1px solid rgb(110, 108, 108);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.yt__bottom div:hover {
  background-color: white;
  color: black;
}

.text_home {
  padding-left: 12px;
}

.yt__subscribe {
  padding-top: 5px;
  font-size: 38px;
}

.text_subscrine {
  padding-left: 4px;
}

.yt__video {
  background-color: rgb(48, 48, 48);
}

.yt__video_img {
  width: 700px;
}

.yt__video_subText {
  display: flex;
}

.yt__video_text_highLight {
  font-size: 20px;
  color: white;
}

.yt__video_text_sub {
  color: gray;
}

.yt__video_profile {
  border-radius: 50%;
  width: 45px;
  padding: 10px 5px;
  margin: 5px 10px 5px 10px;
}

.yt__video_text {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 40px;
}
